<%- include('layout/header') %>

<div class="container">
  <div class="row">
    <div class="col-lg-6 mx-auto mt-4">
      <div class="card shadow">
        <div class="card-header bg-success">
          <h3 class="text-light">Edit Action (<%= user.name %>)</h3>
        </div>
        <div>
          <form action="/update/<%= user._id %>" method="POST" id="add-form" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="title">Title</label>
              <input type="text" name="title" class="form-control form-control-lg" placeholder="Enter title name" value="<%= user.title %>" required />
            </div>
            <!-- знизу тест -->
            <div class="mb-3">
              <label for="email">Email</label>
              <input type="email" name="email" class="form-control form-control-lg" placeholder="Enter email"  value="<%= user.email %>" required>
            </div>
            <div class="mb-3">
              <label for="description">Description</label>
              <input type="text" name="description" class="form-control form-control-lg" placeholder="Enter some text"  value="<%= user.phone %>" required>
            </div>
            <div class="mb-3">
              <label for="status" class="form-label">Status</label>
              <input type="text" name="status" class="form-control form-control-lg" required>
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-succes">Update Action</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('layout/footer') %>

